<a href="https://colab.research.google.com/github/ADRIANVM117/ENSAYOS/blob/master/Estadistica/estadistica_ejercicio9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intervalo de confianza de las ultimas 5 semanas de los 5 mejores productos en cuanto a cantidad

In [ ]:
import pandas as pd 
import numpy as np 
from scipy import stats

# Arreglando DatFrame

In [ ]:
file = ('/content/sample_data/1. Data Alimentos Alumnos.xlsx')

xls = pd.ExcelFile(file)
df1 = xls.parse('Data')
df1.head(5)
df1 = df1.drop(range(0, 3), axis = 0)

In [ ]:
df1.columns = df1.iloc[0]


df = df1.drop(df1.index[0])
df.head()

3                FECHA RUTA            VENDEDOR  ...   IMPORTE  STATUS PESO
4  2020-01-02 00:00:00    3   Luis Miguel Rosas  ...       213  Activo    1
5  2020-01-02 00:00:00    7  Juan Camilo Muriño  ...    6009.5  Activo    4
6  2020-01-02 00:00:00   12        José Padilla  ...  1809.825  Activo    4
7  2020-01-02 00:00:00  999     Alberto Vázquez  ...    1062.4  Activo    4
8  2020-01-02 00:00:00   10      Jorge Martínez  ...     692.9  Activo    4

[5 rows x 12 columns]

In [ ]:
df = df.reset_index()

In [ ]:
df.head()

3  index                FECHA RUTA  ...   IMPORTE  STATUS PESO
0      4  2020-01-02 00:00:00    3  ...       213  Activo    1
1      5  2020-01-02 00:00:00    7  ...    6009.5  Activo    4
2      6  2020-01-02 00:00:00   12  ...  1809.825  Activo    4
3      7  2020-01-02 00:00:00  999  ...    1062.4  Activo    4
4      8  2020-01-02 00:00:00   10  ...     692.9  Activo    4

[5 rows x 13 columns]

In [ ]:
df2 = df.drop(['index'], axis = True)

In [ ]:
df2

3                    FECHA RUTA            VENDEDOR  ...   IMPORTE  STATUS PESO
0      2020-01-02 00:00:00    3   Luis Miguel Rosas  ...       213  Activo    1
1      2020-01-02 00:00:00    7  Juan Camilo Muriño  ...    6009.5  Activo    4
2      2020-01-02 00:00:00   12        José Padilla  ...  1809.825  Activo    4
3      2020-01-02 00:00:00  999     Alberto Vázquez  ...    1062.4  Activo    4
4      2020-01-02 00:00:00   10      Jorge Martínez  ...     692.9  Activo    4
...                    ...  ...                 ...  ...       ...     ...  ...
26652  2020-05-30 00:00:00   21        Diego Rivera  ...        38  Activo    2
26653  2020-05-30 00:00:00   21        Diego Rivera  ...        19  Activo    2
26654  2020-05-30 00:00:00    8        Javier López  ...        54  Activo    1
26655  2020-05-30 00:00:00    7  Juan Camilo Muriño  ...        28  Activo    1
26656  2020-05-30 00:00:00    1         Maluma Bebé  ...     111.5  Activo    4

[26657 rows x 12 columns]

# Listo para usar

In [ ]:
df2.head()

3                FECHA RUTA            VENDEDOR  ...   IMPORTE  STATUS PESO
0  2020-01-02 00:00:00    3   Luis Miguel Rosas  ...       213  Activo    1
1  2020-01-02 00:00:00    7  Juan Camilo Muriño  ...    6009.5  Activo    4
2  2020-01-02 00:00:00   12        José Padilla  ...  1809.825  Activo    4
3  2020-01-02 00:00:00  999     Alberto Vázquez  ...    1062.4  Activo    4
4  2020-01-02 00:00:00   10      Jorge Martínez  ...     692.9  Activo    4

[5 rows x 12 columns]