# Seleccionando columnas y renglones de forma eficiente
### Adrián Vázquez
#### 22/06/21

### <b> Midiendo el tiempo  </b>

- Medición del tiempo I
Se puede cargar la función time.time() y utilizarla para evaluar el tiempo necesario para realizar una operación matemática básica.

- Ahora, utilizarás la misma estrategia para evaluar dos métodos diferentes para resolver un problema similar: calcular la suma de cuadrados de todos los enteros positivos de 1 a 1 millón (1.000.000).

- De forma similar a lo que has visto en el vídeo, compararás dos métodos; uno que utiliza la fuerza bruta y otro más sofisticado matemáticamente.

- En la fórmula de la función, utilizamos la fórmula estándar
  donde N=1.000.000.
  En la función brute_force hacemos un bucle sobre cada número de 1 a 1 millón y lo añadimos al resultado.

In [3]:
import time

# Calculate the result of the problem using formula() and print the time required
N = 1000000
fm_start_time = time.time()
first_method = formula(N)
print("Time using formula: {} sec".format(time.time() - fm_start_time))
# Calculate the result of the problem using brute_force() and print the time required
sm_start_time = time.time()
second_method = brute_force(N)
print("Time using the brute force: {} sec".format(time.time() - sm_start_time))

NameError: name 'formula' is not defined

In [5]:
# Ejercicio 2 

lista = ['<html>', '<head><title>404 Not Found</title></head>', '<body>', '<center><h1>404 Not Found</h1></center>', '<hr><center>nginx</center>', '</body>', '</html>']

#calculamos el tiempo antes de la ejecución

start_time = time.time()

letlist = [word for word in lista if word.startswith('b')]

total_time = time.time() - start_time

print('El tiempo de ejecución de la lista de comprensión es : {} sec'.format(total_time))

El tiempo de ejecución de la lista de comprensión es : 0.00020241737365722656 sec

## <b> .iloc[ ] y .loc[ ] </b>

- iloc[ ] es mas rapido cuando queremos seleccionar filas especificas 

- loc[ ] es mas rapido cuando buscamos columnas especificas

<b> Selección de filas: loc[] vs iloc[] </b>

- Una gran parte del trabajo con DataFrames consiste en localizar entradas específicas en el conjunto de datos. Se pueden localizar filas de dos maneras:
  Por un valor específico de una columna (feature).

- Por el índice de las filas (índice). En este ejercicio, nos centraremos en la segunda forma.
  Si tienes experiencia previa con pandas, deberías estar familiarizado con los indexadores .loc y .iloc, que significan 'localización' y 'localización del índice' respectivamente. En la mayoría de los casos, los índices serán los mismos que la posición de cada fila en el Dataframe (por ejemplo, la fila con índice 13 será la 14ª entrada).

- Aunque podemos utilizar ambas funciones para realizar la misma tarea, nos interesa saber cuál es la más eficiente en términos de velocidad.

In [1]:
import numpy as np 
import pandas as pd 

poker_hands = pd.read_csv('datasets/poker_hand.csv')

In [9]:
# Define the range of rows to select: row_nums
row_nums = range(0, 1000)
# Select the rows using .loc[] and row_nums and record the time before and after
loc_start_time = time.time()
rows = poker_hands.loc[row_nums]
loc_end_time = time.time()
# Print the time it took to select the rows using .loc[]
print("Time using .loc[]: {} sec".format(loc_end_time - loc_start_time))

Time using .loc[]: 0.0018503665924072266 sec

In [12]:
#Select the rows using .iloc[] and row_nums and record the time before and after
loc_start_time = time.time()
rows = poker_hands.iloc[row_nums]
loc_end_time = time.time()
# Print the time it took to select the rows using .loc[]
print("Time using .iloc[]: {} sec".format(loc_end_time - loc_start_time))

Time using .iloc[]: 0.0009610652923583984 sec

<b> Conclusión:  </b>

- iloc[ ] es mucho mas rapido. Esto es porqué .iloc[ ]  aprovecha la posición ordenada de cada fila, simplificando los cálculos necesarios.

### <b> Selección de columnas: .iloc[] vs por nombre </b>

- En el ejercicio anterior, usted vio cómo las funciones .loc[] y .iloc[] pueden ser utilizadas para localizar filas específicas de un DataFrame (basado en el índice). Resulta que la función .iloc[] es mucho más rápida (~ 2 veces) para esta tarea.

- Otra tarea importante es encontrar la función más rápida para seleccionar las características específicas (columnas) de un DataFrame. En este ejercicio, compararemos lo siguiente
  utilizando el localizador de índices .iloc()
  utilizando los nombres de las columnas Aunque podemos utilizar ambas funciones para realizar la misma tarea, nos interesa saber cuál es la más eficiente en términos de velocidad.

- En este ejercicio, se continuará trabajando con los datos de póker que se almacenan en poker_hands. Tómate un segundo para examinar la estructura de este DataFrame llamando a poker_hands.head() en la consola.

In [13]:
# Use .iloc to select the first, fourth, fifth, seventh and eighth column and record the times before and after
iloc_start_time = time.time()
cols = poker_hands.iloc[:,[0,3,4,6,7]]
iloc_end_time = time.time()
# Print the time it took
print("Time using .iloc[] : {} sec".format(iloc_end_time - iloc_start_time))
# Use simple column selection to select the first, fourth, fifth, seventh and eighth column and record the times before and after
names_start_time = time.time()
cols = poker_hands[['S1', 'S2', 'R2', 'R3', 'S4']]
names_end_time = time.time()
# Print the time it took
print("Time using selection by name : {} sec".format(names_end_time - names_start_time))

Time using .iloc[] : 0.0014438629150390625 sec
Time using selection by name : 0.018300294876098633 sec

<b> Conclusión:  </b>
- Es mas eficiente seleccionar columnas especificas con la selección simple

- Esto tiene una explicación: con .iloc tenemos que especificar tanto las filas como las columnas necesarias, y esto lleva más tiempo. Puede parecer insignificante aquí, pero supondrá una gran diferencia en conjuntos de datos más grandes.

## Remplazando valores en Pandas

-  sustituiremos una lista de valores de nuestro conjunto de datos utilizando el método     .replace() por otra lista de valores deseados.

- Aplicaremos las funciones en el DataFrame poker_hands. Recuerde que en el DataFrame poker_hands, cada fila de las columnas R1 a R5 representa el rango de cada carta de la mano de póquer de un jugador que va del 1 (As) al 13 (Rey). La característica Clase clasifica cada mano como una categoría, y la característica Explicación explica brevemente cada mano.

In [4]:
poker_hands.head()

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [6]:
# Remplazando clase 1 a - 2
poker_hands['Class'].replace(1,-2, inplace = True)

# Remplazando clase 2 a -3 
poker_hands['Class'].replace(2,-3, inplace = True)

print(poker_hands[['Class']])

       Class
0          9
1          9
2          9
3          9
4          9
...      ...
25005      0
25006     -2
25007     -2
25008     -2
25009     -2

[25010 rows x 1 columns]

- En un DataFrame de pandas es posible reemplazar valores de una forma muy intuitiva: localizamos la posición (fila y columna) en el Dataframe y asignamos en ella el nuevo valor por el que se quiere reemplazar. De forma más pandasiana, se dispone de la función .replace() que realiza la misma tarea.

- Utilizarás el DataFrame de nombres que incluye, entre otros, los nombres más populares en EEUU por año, género y etnia.

- Su tarea consiste en reemplazar todos los bebés clasificados como FEMENINO por NIÑO utilizando los siguientes métodos:
  - reemplazo escalar intuitivo
  - utilizando la función .replace()

In [23]:
names = pd.read_csv('datasets/Popular_Baby_Names.csv')

In [11]:
import time
start_time = time.time()
# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].loc[names['Gender'] == 'FEMALE'] = 'GIRL'
print("Time using .loc[]: {} sec".format(time.time() - start_time))

Time using .loc[]: 0.002685070037841797 sec

In [13]:
start_time = time.time()
# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].replace('FEMALE', 'GIRL', inplace = True)
print("Time using .loc[]: {} sec".format(time.time() - start_time))

Time using .loc[]: 0.0012538433074951172 sec

<b> Conclusión : </b>

- La forma mas eficiente de remplazar valores escalaras es con .replace()

### <b> Remplazando valores usando listas </b>

- En este ejercicio, aplicará la función .replace() para la tarea de sustituir varios valores por uno o más valores. Volverá a utilizar el conjunto de datos de nombres, que contiene, entre otros, los nombres más populares en EE.UU. por año, género y etnia.

- Así, querrá reemplazar todas las etnias clasificadas como blancas o negras no hispanas por no hispanas. Recuerde que las etnias se indican en el conjunto de datos de la siguiente manera

['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC']
  - y debería sustituirse por "NO HISPÁNICO".

In [30]:
names['Ethnicity'].value_counts()

WHITE NON HISPANIC            3365
HISPANIC                      3314
BLACK NON HISPANIC            1704
ASIAN AND PACIFIC ISLANDER    1662
WHITE NON HISP                 637
ASIAN AND PACI                 335
BLACK NON HISP                 328
Name: Ethnicity, dtype: int64

In [31]:
start_time = time.time()
# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].replace(['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'],'NON HISPANIC' , inplace=True)
print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0013692378997802734 sec

<b> Conclusión </b>

- Es mas rapido ,replace que .loc[ ] para sobrescribir valores.

### Ejercicio 2

- Reemplazar múltiples valores 

- En lugar de utilizar la función .replace() varias veces para reemplazar varios valores, puede utilizar listas para asignar los elementos que desea reemplazar uno a uno con los que desea sustituirlos.

- Como has visto en nuestro conjunto de datos de nombres populares, hay dos nombres para la misma etnia. Queremos estandarizar la denominación de cada etnia sustituyendo


    - 'ASIAN AND PACI' to 'ASIAN AND PACIFIC ISLANDER'
    - 'BLACK NON HISP' to 'BLACK NON HISPANIC'
    - 'WHITE NON HISP' to 'WHITE NON HISPANIC'

- En los nombres del DataFrame, vas a sustituir todos los valores de la izquierda por los de la derecha.

In [33]:
start_time = time.time()
# Replace ethnicities as instructed
names['Ethnicity'].replace(['ASIAN AND PACI', 'BLACK NON HISP', 'WHITE NON HISP'], ['ASIAN AND PACIFIC ISLANDER', 'BLACK NON HISPANIC','WHITE NON HISPANIC' ], inplace=True)
print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.003052234649658203 sec

### Remplazando valores usando diccionarios

- Reemplazar valores individuales I

- En este ejercicio, aplicaremos la siguiente técnica de sustitución de valores múltiples mediante diccionarios en un conjunto de datos diferente.

- Aplicaremos las funciones en el DataFrame de datos. Cada fila representa el rango de 5 cartas de una baraja de naipes, que van del 1 (As) al 13 (Rey) (características R1, R2, R3, R4, R5). La característica "Clase" clasifica cada fila en una categoría (de 0 a 9) y la característica "Explicación" ofrece una breve explicación de lo que representa cada clase.

- El objetivo de este ejercicio es clasificar los dos tipos de escalera del juego ("Escalera real" y "Escalera") bajo el nombre de "Escalera".

In [35]:
# Replace Royal flush or Straight flush to Flush
poker_hands.replace({'Royal flush':'Flush', 'Straight flush':'Flush'}, inplace=True)
print(poker_hands['Explanation'].head())

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

### <b> Reemplazar valores individuales II </b>

- Para este ejercicio, utilizaremos el DataFrame de nombres. En este conjunto de datos, la columna "Rango" muestra la clasificación de cada nombre por año. Para este ejercicio, utilizarás diccionarios para reemplazar el primer nombre clasificado de cada año como 'PRIMERO', el segundo nombre como 'SEGUNDO' y el tercer nombre como 'TERCERO'.

- Utilizarás los diccionarios para reemplazar un solo valor por clave.

In [37]:
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,1
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,2
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,3
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5

In [40]:
# Replace the number rank by a string
names['Rank'].replace({ 1: 'FIRST', 2:'SECOND', 3: 'THIRD'}, inplace=True)
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,FIRST
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,SECOND
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,THIRD
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5

### <b> Reemplazar múltiples valores III </b>

- Los diccionarios se pueden utilizar  para sustituir varios valores por un solo valor, incluso de varias columnas. Para mostrar la utilidad de reemplazar con diccionarios, se utilizará el conjunto de datos de nombres una vez más.

- En este conjunto de datos, la columna "Rango" muestra el rango que alcanzó cada nombre cada año. Cambiará el rango de los tres primeros nombres clasificados de cada año a "MEDAL" y los del 4º y 5º puesto a "ALMOST MEDAL".

In [44]:
# Replace the rank of the first three ranked names to 'MEDAL'
names.replace({'Rank': {'FIRST':'MEDAL', 'SECOND':'MEDAL', 'THIRD':'MEDAL'}}, inplace=True)
# Replace the rank of the 4th and 5th ranked names to 'ALMOST MEDAL'
names.replace({'Rank': {4:'ALMOST MEDAL', 5:'ALMOST MEDAL'}}, inplace=True)
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,MEDAL
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,MEDAL
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,MEDAL
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,ALMOST MEDAL
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,ALMOST MEDAL

### <b> Conclusión : </b> 

- Para remplazar uno o multiples valores escalares es mejor usar .replace() y el uso de diccionarios. 

- Mirar a través de una lista requiere un pase en cada elemento de la lista, mientras que mirar un diccionario dirige instantáneamente a la clave que coincide con la entrada.