## Funciones anidadas 
### Adrián Vázquez 
#### 09/05/21

In [3]:
import pandas as pd 

df = pd.read_csv('SaratogaHouses.csv')
print(display(df.head()))

,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

None

In [10]:
# Se renombran las columnas para que sean entendibles 
df.columns = ["precio", "metros_totales", "antiguedad", "precio_terreno",
                 "metros_habitables", "universitarios", "dormitorios", 
                 "chimenea", "banyos", "habitaciones", "calefaccion",
                 "consumo_calefacion", "desague", "vistas_lago",
                 "nueva_construccion", "aire_acondicionado"]
print(display(df.head()))

,precio,metros_totales,antiguedad,precio_terreno,metros_habitables,universitarios,dormitorios,chimenea,banyos,habitaciones,calefaccion,consumo_calefacion,desague,vistas_lago,nueva_construccion,aire_acondicionado
0,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

None

In [28]:
# Inicializar un diccionario vacio 
dic_nuevo = {}
#extraer una columna del DataFrame 
vista_lago = df['vistas_lago']

# Iniciar un ciclo for con la variable entry que recorrera la columna extraida vista_lago
for entry in vista_lago: 

# condicional 
    if entry in dic_nuevo.keys(): 
        dic_nuevo[entry] += 1 
    
    else:
        dic_nuevo[entry] =1 

# Contar el numero de valores dentro de la columna vista lago
print(dic_nuevo)

{'No': 1713, 'Yes': 15}

### Scope and user defined functions

- Tipos de alcance:
  - alcanze global (Global sccop):
  
    definido en el cuerpo principal del script
  - alcance local:
  
    Definido dentro de una función. una vez que se realiza la ejecución de una función. cualquier nombre dentro del ambito local deja de existir. lo que significa que ya no puede acceder a esos nombre fuera de la definición

- Cuatro tipos de variables y la regla LEGB

- La regla LEGB define un orden en el que el intérprete de Python recupera el nombre de una variable. Las cuatro letras representan cuatro tipos de variables en Python:

- Variables locales (L): variables en una función
- Variables incluidas (E): en el contexto de funciones anidadas (explicar más adelante)
- Variables globales (G): las variables de nivel superior
- Variables integradas (B): Variables en módulos integrados de Python

In [46]:
# EJEMPLO 
# Global scoop

#Declaramos un objeto de caracter string 
nombre = 'yo'

#definimos una función 
def cambio_nomb():
    
    #USAMOS global para alterar el objeto a un alcance global 
    global nombre 
    # cambiamos el valor de objeto 
    nombre = 'el'


# cregresa el valor default del objeto  
print(nombre)
# llamamos a la funcion  
cambio_nomb()

# cambia el valor del objeto
print(nombre)

yo
el

### Funciones anidadas 

- Funciones dentro de otras funciones

In [50]:
# EJEMPLO 1
def exterior(palabra1, palabra2, palabra3):
    #Regresa una tupla de strings concatenados con '!!!'
    
    #dPrimero pasa por la funcion exterior, luego llega a la funcion interior donde 
    def interior(palabra):
        
        # regresa la  palabra concatenada con '!!!' de la funcion interior
        return str(palabra) + '!!!'
    # Regresa los 3 objetos como una tupla de  la funcion exterior
    return (interior(palabra1), interior(palabra2), interior(palabra3))

print(exterior(1, 'b', 'c'))

('1!!!', 'b!!!', 'c!!!')

In [54]:
# EJEMPLO 2 

def repeticion(n): 
    #""" Regresa función  multiplicación""""
    
    # definimos la segunda función 
    def mul_rep(palabra):
        
        # concatenar palabras 
        palabraconc = palabra * n 
        return palabraconc
    return mul_rep

# Asignamos dos variables distintas que ingresen a la función 
palabra1 = repeticion(2)
palabra2 = repeticion(3)


palabra2('hola')

'holaholahola'

#### nonlocal 

##### altera el valor de una variable

In [4]:
# Definimos la función palabra
def palabra(world): 
    
    # declaramos una variable y su valor 
    mult_palabra = world * 2
    
    #se imprime 
    print(mult_palabra)
    
    # funcion anidada shout
    def shout(): 
        # utilizamos nonlocal para alterar el valor de la variable mult_palabra
        nonlocal mult_palabra
        
        # alteramos el valor 
        mult_palabra = mult_palabra + '!!!'
    #mandamos a llamar a la funcion para que regrese la variable alterada 
    shout()
   
 
    
    print(mult_palabra)



palabra('yo')

yoyo
yoyo!!!

#### NOTA: 
- Recuerde que asignar nombres solo creara o cambiara nombres locales, a menos que sean declarados globales o no locales.

## Default and flexible arguments

- Definir argumentos por default

- echo

In [29]:
# Definir un parametro por defecto dentro de una función.n
def palabra( word, echo = 2): #<---- echo sirve como un argumento para repetir un valor.
    
    p1 = word *echo  #<-- la variable p1 recoge el valor de entrada y utiliza parametro default
    
    p2 = p1 + ':D'  # <-----  el valor de entrada tambien es guardado en otra variable  
    
    return p2  #<------  regresa la segunda variable 
                     
                           
palabrafinal = palabra('hola')  # declaramos la funcion con su argumento y la guardamos 
palabraafinal_n = palabra('hola', echo = 4) # declaramos con un valor echo diferente al default

print(palabrafinal)
print(palabraafinal_n)

holahola:D
holaholaholahola:D

#### intense = True o False 

- podemos agregar mas argumentos por defecto que usted  puede elegir si  o no aplicarse en el momento de mandar a llamar a la función

In [52]:
def fun(palabra, echo = 2, intense = False): #<--Definimos la función fun con argumentos default
    
    fun_1 = palabra  # <--- declaramos  el elemento entrada en una variable  
    
    if intense is True: #<--- si declaramos intense como True  nos cambia las propiedades de 
                              #la salida
        
        fun_2 = fun_1.upper() * echo    
    else:                      # <------- si no se declara intense como True O NO SE LLAMA se 
        fun_2 = fun_1 * echo  + '!!!'     # hara esto por default. 
        
    return fun_2              

# NOTA: los argumentos pueden cambiar libremente llamandolos, si no se te regresara los que
        # son por defaul
#EJEMPLO 1 
llamado_default = fun('zorro') #<--- sin cambiar argumentos default solo llamando a la función
# EJEMPLO 2 
llamado_verdad =  fun('zorro', echo = 3 , intense = True) #<-- declarando intense y cambiando 
                                                               # argumentos
# EJEMPLO 3     
llamado_falso = fun('zorro',  echo = 4) # < cambiando solo un argumento, intense sigue default 

print(llamado_default)

print(llamado_verdad)

print(llamado_falso)

zorrozorro!!!
ZORROZORROZORRO
zorrozorrozorrozorro!!!

#### *args
- variable que permite una cantidad variable de argumentos de cadena

- Su valor de retorno es una sola cadena compuesta por todos los argumentos de cadena concatenados en el orden que fueron pasados a la llamada de la función

In [54]:
def concat( *args): # <--- declaramos la funcion concat con la variable *args
    
    fun = ''        # declaramos una varable string vacia 
    for word in args: # generamos un ciclo donde word recorrera todo arg
        fun += word
    return fun 

valor_1 = concat('hola')
valor_2 = concat('hola', 'adios')
valor_n = concat('hola', 'mañana', 'si', 'no', 'despues ')

print(valor_1)
print(valor_2)
print(valor_n)

hola
holaadios
holamañanasinodespues

#### **kwargs 
- Te permite pasar un número variable de argumentos de palabras clave a las funciones
- kwargs es un diccionario

In [60]:
def reporte(**kwargs): #<--- Definimos a la funcion con la variable **kwargs
    print('\ninicio de reporte') 
    
    for key, value in kwargs.items(): #<--- creamos un ciclo for para los items en kwargs 
                                        
        print(key + ' : ' + value)    #<-- imprimimos la llave y el valor 
    
    print('\nfin reporte')

reporte(nombre = 'adrian', ocupación = 'estudiante', edad = '21 años') 

reporte(nombre = 'axel', ocupación = 'trabajador', edad =  '25 años')

inicio de reporte
nombre : adrian
ocupación : estudiante
edad : 21 años

fin reporte

inicio de reporte
nombre : axel
ocupación : trabajador
edad : 25 años

fin reporte