## Agrupaciones stadisticos 
### Adrián Vázquez 
#### 05/05/21

In [2]:
import pandas as pd
datos = pd.read_csv('sales_subset.csv')
print(display(datos.head()))

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

None

<b> Podemos clasificar las sumas que queramos realizar </b>

- Ejemplo

In [3]:
# Aqui se pide toda la suma de la columna 'weekly_sales' pero solo de los que cumplan con 
# tener un valor 'A' en la columna 'type'
ventas_A = datos[datos['type'] == 'A']['weekly_sales'].sum()
print(ventas_A)

233716315.01

> Para obtener las operaciones de cada grupo de valores dentro de una columna es mucho mejor utilizar el metodo <b> .groupby() </b>

> Ya que se vuelve mas optimo tu codigo y mucho mas corto que hacerlo como en el ejercicio anterior

In [4]:
# Aqui se pide toda la suma de la columna 'weekly_sales' pero esta vez  que cumplan con cada 
# valor 'A' y 'B' en la columna 'type'
ventas_por_tipo = datos.groupby('type')['weekly_sales'].sum()
print(ventas_por_tipo)

type
A    2.337163e+08
B    2.317840e+07
Name: weekly_sales, dtype: float64

- Operaciones aritmeticas entre variables 

<b> Ejemplo </b>

In [5]:

# se saca la proporción por cada tipo tipo 'A' y 'B' dividiendo  la variable 'ventas_por_tipo
#entre la suma de esta misma variable
proporcion_tipo = ventas_por_tipo/ sum(ventas_por_tipo)
print(proporcion_tipo)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

## <b> Agrupando varias variables </b>

- Podemos hacer operaciones dentro de varias agrupaciones 

<b> Ejemplo </b>

In [6]:
# Obtenemos la suma para cada variable de columna 'weekly_sales', clasificandola por medio de 
# la columna 'type'  y  despues clasificandola por la columna 'is_holiday'

In [12]:
agrupando = datos.groupby(['type', 'is_holiday'])['weekly_sales'].sum()
print(display(agrupando))

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

None

### utilizando el metodo  <b>.agg() </b> en variables agrupadas para realizar varias operaciones al mismo tiempo

In [8]:
import numpy as np

#importamos numpy para poder usar operaciones como np.mean, np.median ... etc

In [9]:
agrupando_agg = datos.groupby('type')['weekly_sales'].agg([np.median, np.mean])
print(display(agrupando_agg))

        median          mean
type
A     11943.92  23674.667242
B     13336.08  25696.678370

None

- Obteniendo estadisticas de varias columnas al mismo tiempo

In [10]:
# Aqui  obtenemos la mediana y la media de las columnas 'weekly_sales' y 'unemployment' y la
# agrupamos entre los tipos de valores dentro de la columna 'type' y lo clasificamos entre 
#los valores de la columna 'is_holiday'
agrupando_agg1 = datos.groupby(['type','is_holiday' ])[['weekly_sales', 'unemployment']].agg([np.median, np.mean])
print(display(agrupando_agg1))

                weekly_sales               unemployment
                      median          mean       median      mean
type is_holiday
A    False         12028.955  23768.583523       8.0670  7.973170
     True             37.500    590.045250       7.9245  7.835100
B    False         13348.680  25751.980533       9.1990  9.280973
     True            810.705    810.705000       8.5365  8.536500

None

### Tabla dinamica

In [11]:
# funciona igual que el metodo .groupby()
datos_dinamicos = datos.pivot_table(values =['unemployment', 'weekly_sales'], index = 'store', aggfunc= [sum, np.mean])
print(display(datos_dinamicos))

               sum                      mean
      unemployment weekly_sales unemployment  weekly_sales
store
1         7072.181  18828144.55     7.849257  20896.941787
2         7316.409  23786139.34     8.156532  26517.435162
4         6789.603  23540414.45     7.535630  26126.986071
6         6289.268  19275700.71     7.034975  21561.186477
10        8369.949  23178403.89     9.279323  25696.678370
13        7250.159  23431368.47     7.941028  25664.149474
14        7783.920  26889842.67     8.795390  30384.003017
19        7355.263  18057339.37     8.118392  19930.838157
20        6982.674  25828317.41     7.673268  28382.766385
27        7233.492  21786727.24     8.037213  24207.474711
31        7260.167  16179249.68     8.157491  18178.932225
39        7372.476  16113071.12     8.425687  18414.938423

None